/* body
{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: scroll;
} */

@font-face {
    font-family: 'Amar';
    src: url('../../../public/Fonts/Amaranth.ttf');
}
@font-face {
    font-family: 'Morn';
    src: url('../../../public/Fonts/Morn.ttf');
}
.BookingOneContainer
{
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow: hidden;
}
.MMYY
{
    text-align: center;
    color: white;
    font-family: 'Amar';
    font-size: 3rem;
    font-style: normal;
    font-weight: 400;
    margin-top: 2rem;
}
.FDates
{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.DatesS
{
    display: flex;
    width: 80rem;
    margin-top: 1rem;
    padding-left: 5.25rem;
    padding-right: 5.25rem;
    height: 6.5rem;
    border: 3px solid #FFF;
    align-items: center;
    justify-content: center;
    
}
.DayDate
{
    text-align: center;
    display: inline-block;
    width: 12rem;
    height: 6.2rem;
    margin-top: 0rem;
    margin-left: 10px;
    position: relative;
    color: #A4A4A4;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
.DayDate .Day
{
    position: absolute; 
    top: 30%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    font-family: 'Morn';
    color: #A4A4A4;
    font-size: 1.7rem;
    font-style: normal;
    font-weight: 900;
}
.DayDate .Date
{
    position: absolute; 
    top: 70%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    color: #F5BC25;
    font-family: 'Morn';
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 900;
    transition: all 0.3s ease-in-out;
}
.DayDate:hover 
{
    background-color: #F5BC25;
    color: black;
}
.DayDate:hover .Day
{
    color: black;
}
.DayDate:hover .Date
{
    color: black;
}
.SDayDate
{
    text-align: center;
    display: inline-block;
    background-color: #F5BC25;
    width: 12rem;
    height: 6.2rem;
    margin-top: 0rem;
    margin-left: 10px;
    position: relative;
}
.SDayDate .Day
{
    position: absolute; 
    top: 30%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    font-family: 'Morn';
    color: black;
    font-size: 1.7rem;
    font-style: normal;
    font-weight: 900;
}
.SDayDate .Date
{
    position: absolute; 
    top: 70%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    color: black;
    font-family: 'Morn';
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 900;
}
.Header {
    position: absolute; 
    top: 57%; 
    left: 50%; 
    transform: translate(-50%, -50%);
  }
  
  .SelDate {
    display: flex;
    align-items: center; 
    color: white;
    font-family: 'Inter';
    font-size: 1.4rem;
  }
  
  .Calendar {
    width: 2rem; 
    height: 3rem; 
    margin-right: 10px; 
  }
  .DispTimeSlots
  {
    position: absolute; 
    top: 62%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    margin-top: 5rem;
    display: flex;
    flex-wrap: wrap;
    width:  75rem;
    align-items: center; 
    justify-content: center;
    color: white;
    font-family: 'Morn';
    font-size: 3rem;
  }

  .DispTimeSlots > * {
    margin: 1rem 1rem; 
  }
  .ProButton {
    position: absolute;
    top: 88%;
    left: 50%; 
    transform: translateX(-50%); 
    text-align: center;
    width: 10rem;
    height: 4rem;
    border:3px solid #F5BC25;
    border-radius: 2.5rem;
    font-family: 'Inter';
    color: white;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background-color: transparent;
    transition: 0.3s all ease-in-out;
    cursor: pointer;
  }
  .ProButton:hover
  {
    background-color: #F5BC25;
    color: black;
    font-weight: 600;
  }
  .Slot
{
    position: relative;
    display: flex;
    align-items: center; /* Vertically center content */
    justify-content: center; 
    width: 15rem;
    height: 3.5rem;
    border-radius: 1.5rem;
    background: #D9D9D9;
    color: black;
    font-family: 'Inter';
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 700;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.Slot:hover
{
    background-color: #E54545;
}

.Slot.selected {
    background-color: #E54545; 
}
@media screen and (min-width: 1024px) and (max-width: 1279px){
    .MMYY
    {
        font-size: 2.5rem;
        margin-top: 0.5rem;
    }
    .DatesS
    {
        width: 50rem;
        padding-left: 5rem;
        padding-right: 5rem;
        height: 5.7rem;
    }
    .DayDate
    {
        width: 9.5rem;
        height: 5.7rem;
        margin-top: 0rem;
        margin-left: 10px;
        position: relative;
        color: #A4A4A4;
        transition: all 0.3s ease-in-out;
        cursor: pointer;
    }
    .DayDate .Date
    {
        font-size: 1.3rem;
    }
    .DayDate .Day
    {
        font-size: 1.35rem;
    }
    .SDayDate
    {
        width: 9.5rem;
        height: 5.7rem;
        margin-top: 0rem;
        margin-left: 10px;
    }
    .SDayDate .Day
    {
        font-size: 1.3rem;
    }
    .SDayDate .Date
    {
        font-size: 1.3rem;
    }
    .DispTimeSlots
    {
        margin-top: 4.5rem;
        width:  58rem;
        font-size: 3rem;
    }
    .SelDate {
        font-size: 1.2rem;
      }
      .Header 
    {
        top: 58.5%; 
    }
    .ProButton 
    {
        top: 90%;
        width: 7.5rem;
        height: 3rem;
        border:3px solid #F5BC25;
        border-radius: 2.5rem;
        font-size: 1.3rem;
      }
  }

  @media screen and (min-width: 768px) and (max-width: 1023px){
    body
    {
        overflow-y: scroll;
    }
    .MMYY
    {
        font-size: 2rem;
        margin-top: 0.5rem;
    }
    .DatesS
    {
        width: 35rem;
        padding-left: 4rem;
        padding-right: 4rem;
        height: 5rem;
    }
    .DayDate
    {
        width: 9rem;
        height: 5rem;
        margin-top: 0rem;
        margin-left: 12px;
        position: relative;
        color: #A4A4A4;
        transition: all 0.3s ease-in-out;
        cursor: pointer;
    }
    .DayDate .Date
    {
        font-size: 0.8rem;
    }
    .DayDate .Day
    {
        font-size: 1.1rem;
    }
    .SDayDate
    {
        width: 9rem;
        height: 5rem;
        margin-top: 0rem;
        margin-left: 12px;
    }
    .SDayDate .Day
    {
        font-size: 1rem;
    }
    .SDayDate .Date
    {
        font-size: 0.96rem;
    }
    .DispTimeSlots
    {
        margin-top: 3rem;
        width:  38rem;
        font-size: 3rem;
        row-gap: 0;
    }
    .SelDate {
        font-size: 1rem;
      }
      .Header 
    {
        top: 49%; 
    }
    .Calendar
    {
        scale: 0.7;
    }
    .ProButton 
    {
        top: 100%;
        width: 6rem;
        height: 2.5rem;
        border:2px solid #F5BC25;
        border-radius: 1rem;
        font-size: 1rem;
      }
  }