/* body
{
    width: 100%;
    height: 100%;
    background-color: #21201E;
} */

@font-face {
    font-family: 'Morn';
    src: url('../../../public/Fonts/Morn.ttf');
}
@font-face {
    font-family: 'Amar';
    src: url('../../../public/Fonts/Amaranth.ttf');
}
h1
{
    color: white;
    font-family: 'Amar';
}
