body
{
    overflow: hidden;
}

@font-face {
    font-family: 'Morn';
    src: url('../../../public/Fonts/Morn.ttf');
}
.DBookingContainer
{
    position: relative;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.table-scroll
{
    position: relative;
    display: flex;
    justify-content: center;
    margin-left: 0rem;
    width: 100rem;
    height: 48rem;
    left: 8rem;
    top: 3rem;
}
.table-scroll h1
{
    font-family: 'Morn';
    text-align: center;
    font-size: 5rem;
    margin-left: 15rem;
}
table {
    table-layout: fixed;
    width: 77rem;
    height: 48rem;
    color: white;
    border-radius: 3rem;
    background: rgba(217, 217, 217, 0.19);
    padding: 2rem;
    text-align: center;
}
 tbody td {
    white-space: normal; /* Allow text to wrap */
    overflow: hidden;
    word-wrap: break-word;
    text-overflow: ellipsis;
    min-width: 7rem;
    /* width: xxrem; */ /* Optionally set width if needed */
}
thead tr
{
    border-spacing: 0 15px;
}
tr
{
    border-collapse: collapse;
}
  td {
    border: 1px solid #ccc;
    border-right: 1px solid #ccc;
    padding: 7px; /* Adjust padding for consistent spacing */
    font-size: 1rem;
    max-width: 6rem;
    /* width: xxrem; */ /* Optionally set width if needed */
}
tbody {
    overflow-y: scroll;
    position: absolute;
    height: 48rem;
    display: block; /* Add this line for scrollable tbody */
}
tbody tr {
    margin-top: 10px; 
    /* padding-top: 0.5rem; */
} 
.HeaderTitles th {
    background: #1A1818;
    font-family: 'Morn';
    color: #F5BC25;
    font-size: 1.3rem;
    border-collapse: collapse;
    text-align: center;
    margin-bottom: 1rem;
    margin-top: 15px;
    padding: 8px 0rem; /* Add padding to match regular cells */
}
.HeaderTitles th:first-child{
    border-radius: 30px 0 0 30px;
}
.HeaderTitles th:last-child{
    border-radius: 0px 30px 30px 0px;
}

.UtilityBar
{
    position: relative;
    left: 20rem;
    top:2rem;
    width: 76rem;
    height: 4rem;
    color: white;
    background-color: #1A1818;
    border-radius: 3rem;
}
#search-bar
{
    position: relative;
    background-color: black;
    width: 12rem;
    height: 2rem;
    color: #ccc;
    font-family: 'Morn';
    font-size: 1rem;
    border-radius: 0.6rem;
    padding: 0rem 0.6rem;
    margin-top: 0.7rem;
    margin-left: 1rem;
    box-shadow: none;
}
#search-button
{
    position: relative;
    background-color: #F5BC25;
    width: 7rem;
    height: 2.2rem;
    color: black;
    font-weight: 700;
    font-family: 'Morn';
    font-size: 1rem;
    border-radius: 0.6rem;
    margin-top: 0.8rem;
    margin-left: 0.3rem;
    cursor: pointer;
    transition: 0.3s all ease-in-out;

}
#search-button:hover
{
  background-color: white;
}
.sorting-booking-buttons
{
    position: absolute;
    display: flex;
    justify-content: center;
    top: 0.6rem;
    margin-left: 22rem;
    border-radius: 1rem;
    width: 30rem;
    height: 2.5rem;
    background-color: rgba(217, 217, 217, 0.19);
}
.sorting-booking-buttons > *
{
    margin-left: 1.5rem;
}
#today-booking-button
{
    background-color: #1A1818;
    color: #F5BC25;
    font-family: 'Morn';
    padding: 0.2rem 0.9rem;
    border-radius: 0.7rem;
    margin-top: 0.2rem;
    margin-left: 0rem;
    height: 2rem;
    cursor: pointer;
    transition: 0.3s all ease-in-out;
}
#today-booking-button:hover
{
  background-color: #F5BC25;
  color: black;
  font-weight: 700;
}
#reset-button
{
    background-color: #1A1818;
    color: #F5BC25;
    font-family: 'Morn';
    padding: 0.2rem 0.9rem;
    border-radius: 0.7rem;
    margin-top: 0.2rem;
    height: 2rem;
    cursor: pointer;
    transition: 0.3s all ease-in-out;
}
#reset-button:hover
{
  background-color: #F5BC25;
  color: black;
  font-weight: 700;
}
#BookingDate
{
    background-color: #1A1818;
    color: #F5BC25;
    font-family: 'Morn';
    padding: 0.2rem 1rem;
    border-radius: 0.7rem;
    margin-top: 0.3rem;
    height: 1.2rem;
    color-scheme: dark;
    cursor: pointer;
    transition: 0.3s all ease-in-out;
}
#BookingDate:hover
{
  background-color: #F5BC25;
  color: black;
  font-weight: 700;
  color-scheme: light;
}
.JamRoomButtonD
  {
    position:absolute;
    width: 7rem;
    border:2px solid #F5BC25;
    background-color: transparent;
    font-family: 'LeagueGothic';
    cursor: pointer;
    height: 2.2rem;
    color: white;
    font-weight: 700;
    font-family: 'Morn';
    font-size: 0.8rem;
    border-radius: 0.6rem;
    top: 0.8rem;
    margin-left: 52.5rem;
    letter-spacing: 0.128rem;
    transition: 0.2s all ease-in-out;
  }

  .StudioButtonD:hover
  {
    background-color: #F5BC25;
    color: black;
  }
  

  .StudioButtonD
  {
    position:absolute;
    width: 7rem;
    border:2px solid #F5BC25;
    background-color: transparent;
    font-family: 'LeagueGothic';
    cursor: pointer;
    height: 2.2rem;
    color: white;
    font-weight: 700;
    font-family: 'Morn';
    font-size: 0.8rem;
    border-radius: 0.6rem;
    top: 0.8rem;
    margin-left: 60rem;
    letter-spacing: 0.128rem;
    transition: 0.2s all ease-in-out;
  }

  .JamRoomButtonD:hover
  {
    background-color: #F5BC25;
    color: black;
  }

  .BlockButton
  {
    position:absolute;
    width: 7rem;
    border:2px solid #F5BC25;
    background-color: transparent;
    font-family: 'LeagueGothic';
    cursor: pointer;
    height: 2.2rem;
    color: white;
    font-weight: 700;
    font-family: 'Morn';
    font-size: 0.8rem;
    border-radius: 0.6rem;
    top: 0.8rem;
    margin-left: 67.5rem;
    letter-spacing: 0.128rem;
    transition: 0.2s all ease-in-out;
  }

  .BlockButton:hover
  {
    background-color: #F5BC25;
    color: black;
  }

  #Stop
  {
    position: relative;
    width: 2.2rem;
    height: 2.2rem;
    top: 0.2rem;
    left: 0.7rem;
  }

  .edit-div
  {
    position: absolute;
    height: 22rem;
    left:38rem;
    top: 5rem;
  }
  #EditSelectDate
  {
    background-color: #1A1818;
    width: 20rem;
    height: 3rem;
    font-size: 2rem;
    color: #F5BC25;
    font-family: 'Morn';
    padding: 0.2rem 1rem;
    border-radius: 0.7rem;
    margin-top: 7rem;
    color-scheme: dark;
    cursor: pointer;
  }
  .DashTimeSlots
  {
    position: absolute; 
    top: 57%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    margin-top: 5rem;
    display: flex;
    flex-wrap: wrap;
    width:  70rem;
    align-items: center; 
    justify-content: center;
    color: white;
    font-family: 'Morn';
    font-size: 1rem;
  }

  .DashTimeSlots > * {
    margin: 1rem 1rem; 
  }
  #edit-button
  {
    font-family: Morn;
    background-color: #F5BC25;
    border: 3px;
    font-weight: 600;
    cursor: pointer;
  }
  #delete-button
  {
    font-family: Morn;
    background-color: #F5BC25;
    border: none;
    font-weight: 600;
    margin-left: 0.5rem;
    cursor: pointer;
  }
  #save-button
  {
    position: relative;
    background-color: #F5BC25;
    font-family: Morn;
    font-size: 1.5rem;
    height: 3.5rem;
    top: -0.2rem;
    left: 1rem;
    cursor: pointer;
    border-radius: 1rem;
  }