.dbookingcont
{
  width: 100vw;
  height: 100vh;
    overflow: hidden;
} 

@font-face {
    font-family: 'Morn';
    src: url('../../../public/Fonts/Morn.ttf');
}
.DBookingContainer
{
    position: relative;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}
.table-scroll
{
    position: relative;
    display: flex;
    justify-content: center;
    margin-left: 0rem;
    width: 100rem;
    height: 48rem;
    left: 6rem;
    top: 3rem;
}
.table-scroll h1
{
    font-family: 'Morn';
    text-align: center;
    font-size: 5rem;
    margin-left: 15rem;
}
table {
    table-layout: fixed;
    width: 75rem;
    height: 48rem;
    color: white;
    border-radius: 3rem;
    background: rgba(217, 217, 217, 0.19);
    padding: 2rem;
    text-align: center;
}
 tbody td {
    white-space: normal; /* Allow text to wrap */
    overflow: hidden;
    word-wrap: break-word;
    text-overflow: ellipsis;
    min-width: 7.75rem;
    /* width: xxrem; */ /* Optionally set width if needed */
}
thead tr
{
    border-spacing: 0 15px;
}
tr
{
    border-collapse: collapse;
}
  td {
    border: 1px solid #ccc;
    border-right: 1px solid #ccc;
    padding: 7px; /* Adjust padding for consistent spacing */
    font-size: 1rem;
    max-width: 7.75rem;
    /* width: xxrem; */ /* Optionally set width if needed */
}
tbody {
    overflow-y: scroll;
    position: absolute;
    height: 48rem;
    display: block; /* Add this line for scrollable tbody */
}
tbody tr {
    margin-top: 10px; 
    /* padding-top: 0.5rem; */
} 
.HeaderTitles th {
    background: #1A1818;
    font-family: 'Morn';
    color: #F5BC25;
    font-size: 1.3rem;
    border-collapse: collapse;
    text-align: center;
    margin-bottom: 1rem;
    margin-top: 15px;
    padding: 8px 0rem; /* Add padding to match regular cells */
}
.HeaderTitles th:first-child{
    border-radius: 30px 0 0 30px;
}
.HeaderTitles th:last-child{
    border-radius: 0px 30px 30px 0px;
}

.UtilityBar
{
    position: relative;
    left: 18rem;
    top:2rem;
    width: 76rem;
    height: 4rem;
    color: white;
    background-color: #1A1818;
    border-radius: 3rem;
}
#search-bar
{
    position: relative;
    background-color: black;
    width: 12rem;
    height: 2rem;
    color: #ccc;
    font-family: 'Morn';
    font-size: 1rem;
    border-radius: 0.6rem;
    padding: 0rem 0.6rem;
    margin-top: 0.7rem;
    margin-left: 1rem;
    box-shadow: none;
}
#search-button
{
    position: relative;
    background-color: #F5BC25;
    width: 7rem;
    height: 2.2rem;
    color: black;
    font-weight: 700;
    font-family: 'Morn';
    font-size: 1rem;
    border-radius: 0.6rem;
    margin-top: 0.8rem;
    margin-left: 0.3rem;
    cursor: pointer;
    transition: 0.3s all ease-in-out;

}
#search-button:hover
{
  background-color: white;
}
.sorting-booking-buttons
{
    position: absolute;
    display: flex;
    justify-content: center;
    top: 0.6rem;
    margin-left: 22rem;
    border-radius: 1rem;
    width: 30rem;
    height: 2.5rem;
    background-color: rgba(217, 217, 217, 0.19);
}
.sorting-booking-buttons > *
{
    margin-left: 1.5rem;
}
#today-booking-button
{
    background-color: #1A1818;
    color: #F5BC25;
    font-family: 'Morn';
    padding: 0.2rem 0.9rem;
    border-radius: 0.7rem;
    margin-top: 0.2rem;
    margin-left: 0rem;
    height: 2rem;
    cursor: pointer;
    transition: 0.3s all ease-in-out;
}
#today-booking-button:hover
{
  background-color: #F5BC25;
  color: black;
  font-weight: 700;
}
#reset-button
{
    background-color: #1A1818;
    color: #F5BC25;
    font-family: 'Morn';
    padding: 0.2rem 0.9rem;
    border-radius: 0.7rem;
    margin-top: 0.2rem;
    height: 2rem;
    cursor: pointer;
    transition: 0.3s all ease-in-out;
}
#reset-button:hover
{
  background-color: #F5BC25;
  color: black;
  font-weight: 700;
}
#BookingDateSelect
{
    background-color: #1A1818;
    color: #F5BC25;
    font-family: 'Morn';
    padding: 0.2rem 1rem;
    border-radius: 0.7rem;
    margin-top: 0.3rem;
    height: 1.8rem;
    color-scheme: dark;
    cursor: pointer;
    transition: 0.3s all ease-in-out;
}
#BookingDateSelect:hover
{
  background-color: #F5BC25;
  color: black;
  font-weight: 700;
  color-scheme: light;
}
.StudioButtonD
  {
    position:absolute;
    width: 7rem;
    border:2px solid #F5BC25;
    background-color: transparent;
    font-family: 'LeagueGothic';
    cursor: pointer;
    height: 2.2rem;
    color: white;
    font-weight: 700;
    font-family: 'Morn';
    font-size: 0.8rem;
    border-radius: 0.6rem;
    top: 0.8rem;
    margin-left: 52.5rem;
    letter-spacing: 0.128rem;
    transition: 0.2s all ease-in-out;
  }

  .StudioButtonD:hover
  {
    background-color: #F5BC25;
    color: black;
  }
  

  .JamRoomButtonD
  {
    position:absolute;
    width: 7rem;
    border:2px solid #F5BC25;
    background-color: transparent;
    font-family: 'LeagueGothic';
    cursor: pointer;
    height: 2.2rem;
    color: white;
    font-weight: 700;
    font-family: 'Morn';
    font-size: 0.8rem;
    border-radius: 0.6rem;
    top: 0.8rem;
    margin-left: 60rem;
    letter-spacing: 0.128rem;
    transition: 0.2s all ease-in-out;
  }

  .JamRoomButtonD:hover
  {
    background-color: #F5BC25;
    color: black;
  }

  .BlockButton
  {
    position:absolute;
    width: 7rem;
    border:2px solid #F5BC25;
    background-color: transparent;
    font-family: 'LeagueGothic';
    cursor: pointer;
    height: 2.2rem;
    color: white;
    font-weight: 700;
    font-family: 'Morn';
    font-size: 0.8rem;
    border-radius: 0.6rem;
    top: 0.8rem;
    margin-left: 67.5rem;
    letter-spacing: 0.128rem;
    transition: 0.2s all ease-in-out;
  }

  .BlockButton:hover
  {
    background-color: #F5BC25;
    color: black;
  }

  #Stop
  {
    position: relative;
    width: 2.2rem;
    height: 2.2rem;
    top: 0.2rem;
    left: 0.7rem;
  }

  .edit-div
  {
    position: absolute;
    height: 22rem;
    left:38rem;
    top: 5rem;
  }
  #EditSelectDate
  {
    background-color: #1A1818;
    width: 20rem;
    height: 3rem;
    font-size: 2rem;
    color: #F5BC25;
    font-family: 'Morn';
    padding: 0.2rem 1rem;
    border-radius: 0.7rem;
    margin-top: 7rem;
    color-scheme: dark;
    cursor: pointer;
  }
  .DashTimeSlots
  {
    position: absolute; 
    top: 57%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    margin-top: 5rem;
    display: flex;
    flex-wrap: wrap;
    width:  70rem;
    align-items: center; 
    justify-content: center;
    color: white;
    font-family: 'Morn';
    font-size: 1rem;
  }

  .DashTimeSlots > * {
    margin: 1rem 1rem; 
  }
  #edit-button
  {
    font-family: Morn;
    background-color: #F5BC25;
    border: 3px;
    font-weight: 600;
    cursor: pointer;
  }
  #delete-button
  {
    font-family: Morn;
    background-color: #F5BC25;
    border: none;
    font-weight: 600;
    margin-left: 0.5rem;
    cursor: pointer;
  }
  #save-button
  {
    position: relative;
    background-color: #F5BC25;
    font-family: Morn;
    font-size: 1.5rem;
    height: 3.5rem;
    top: -0.2rem;
    left: 1rem;
    cursor: pointer;
    border-radius: 1rem;
  }
  @media screen and (min-width: 5120px) 
  {
    .UtilityBar
    {
        left: 20vw;
        top:5rem;
        width: 76%;
        height: 7%;
        border-radius: 5rem;
        /* background-color: aqua; */
    }
    #search-bar
    {
        width: 25%;
        height: 7.5rem;
        font-size: 4.5rem;
        border-radius: 2rem;
        padding: 3rem 1.5rem;
        margin-top: 2.2rem;
        margin-left: 2rem;
    }
    #search-button
    {
        width: 8%;
        height: 7.5rem;
        font-size: 4rem;
        border-radius: 1rem;
        margin-top: 0.8rem;
        margin-left: 1rem;
    }
    .sorting-booking-buttons
    {
        top: 2rem;
        margin-left: 27vw;
        border-radius: 3rem;
        width: 35%;
        height: 8rem;
    }
    .sorting-booking-buttons > *
    {
        margin-left: 3rem;
    }
    #today-booking-button
    {
        padding: 1rem 3rem;
        border-radius: 3rem;
        margin-top: 0.3rem;
        margin-left: 0rem;
        height: 7rem;
        font-size: 2.5rem;
    }
    #reset-button
    {
        padding: 1rem 3rem;
        border-radius: 3rem;
        margin-top: 0.3rem;
        height: 7rem;
        font-size: 2.5rem;
    }
    #BookingDateSelect
    {
        padding: 1rem 3rem;
        border-radius: 3rem;
        margin-top: 0.3rem;
        height: 7rem;
        font-size: 2.5rem;
    }
    .StudioButtonD
      {
        width: 20rem;
        height: 7rem;
        font-size: 3.5rem;
        border-radius: 2rem;
        top: 2.3rem;
        margin-left: 54.5vw;
        letter-spacing: 0.2rem;
      }
      .JamRoomButtonD
      {
        width: 27rem;
        height: 7rem;
        font-size: 3.5rem;
        border-radius: 2rem;
        top: 2.3rem;
        margin-left: 61vw;
        letter-spacing: 0.2rem;
      }
      .BlockButton
      {
        width: 15rem;
        height: 7rem;
        font-size: 3.5rem;
        border-radius: 2rem;
        top: 2.3rem;
        margin-left: 70vw;
        letter-spacing: 0.2rem;
      }
      .table-scroll
      {
        margin-left: 20%;
        width: 76%;
        height: 88%;
        left: 0vw;
        top: 6rem;
      }
      table {
        width: 100%;
        height: 99%;
        border-radius: 3rem;
        padding: 2rem;
    }
        tbody td {
          min-width: 8.32vw;
          /* width: xxrem; */ /* Optionally set width if needed */
      }
        td {
          border: 1px solid #ccc;
          border-right: 1px solid #ccc;
          padding: 7px; /* Adjust padding for consistent spacing */
          font-size: 4rem;
          max-width: 8.32vw;
          /* width: xxrem; */ /* Optionally set width if needed */
      }
      tbody {
          height: 92%;
      }
      tbody tr {
          margin-top: 10px; 
          /* padding-top: 0.5rem; */
      } 
      .HeaderTitles th {
          font-size: 5rem;
          margin-bottom: 1rem;
          margin-top: 15px;
          padding: 8px 0rem; /* Add padding to match regular cells */
      }
      .HeaderTitles th:first-child{
          border-radius: 30px 0 0 30px;
      }
      .HeaderTitles th:last-child{
          border-radius: 0px 30px 30px 0px;
      }
      #edit-button
    {
      border: 3px;
      font-size: 3rem;
      padding: 0.6rem 0.5rem;
    }
    #delete-button
    {
      font-size: 3rem;
      padding: 0.6rem 0.5rem;
    }
    .edit-div {
      height: 22%;
      width: 37.5%;
      top: 30%;
      left: 50%;
      transform: translate(-50%, -50%);
    }    
    #EditSelectDate
    {
      width: 25vw;
      height: 40%;
      font-size: 5rem;
      padding: 0.2rem 1rem;
      border-radius: 0.7rem;
      margin-top: 7rem;
    }
    .DashTimeSlots
    {
      top: 80%; 
      left: 50%; 
      transform: translate(-50%, -50%);
      margin-top: 5rem;
      width:  50vw;
      font-size: 3rem;
      display: flex;
    flex-wrap: wrap;
    }

    .DashTimeSlots > * {
      margin: 1rem 1rem; 
    }
    #save-button
    {
      font-size: 4rem;
      height: 30%;
      padding: 0.5rem 1rem;
      left: 1rem;
      border-radius: 1rem;
    }
  }