@font-face {
    font-family: 'Morn';
    src: url('../../../public/Fonts/Morn.ttf');
}
.login-background
{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: black;
    overflow: none;
}
#loginBG
{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    opacity: 0.6;
}
.login-rectangle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 60%;
    backdrop-filter: blur(5px); /* Apply a blur effect */
  }
  

.login-rectangle::before {
    content: "";
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #21201E; /* Your desired background color */
    opacity: 0.9;
}
#MelodiumLogo {
    position: absolute;
    top: 10%;
    left: 50%;
    width: 4rem;
    height: 4rem;
    transform: translate(-50%, -50%);
    object-fit: cover;
  }
  
  #login-text {
    position: absolute;
    top: 25%;
    left: 50%;
    font-family: Morn;
    font-size: 1.7rem;
    letter-spacing: 2px;
    color: white;
    transform: translate(-50%, -50%);
  }
  
#login-username
{
    position: absolute;
    top:10rem;
    left: 2rem;
    font-size: 1.5rem;
    color: white;
    z-index: 2;
    font-family: Morn;
}
#login-enter-username
{
    position: absolute;
    z-index: 2;
    top:12.5rem;
    border: 2px solid #F5BC25;
    height: 2rem;
    width: 25rem;
    padding-left: 0.5rem;
    color: white;
    font-size: 1rem;
    letter-spacing: 1px;
    font-family: Morn;
    background-color: transparent;
    /* backdrop-filter: blur(5px); */
    opacity: 0.8;
    left: 2rem;
    transition: 0.1s all ease-in-out;
}

#login-enter-username:hover
{
    backdrop-filter: blur(10px);
}
#login-password
{
    position: absolute;
    top:16rem;
    left: 2rem;
    font-size: 1.5rem;
    color: white;
    z-index: 2;
    font-family: Morn;
}
#login-enter-password
{
    position: absolute;
    z-index: 2;
    top:18.5rem;
    border: 2px solid #F5BC25;
    height: 2rem;
    width: 25rem;
    padding-left: 0.5rem;
    color: white;
    font-size: 1rem;
    letter-spacing: 1px;
    font-family: Morn;
    background-color: transparent;
    backdrop-filter: blur(5px);
    opacity: 0.8;
    left: 2rem;
}
#login-enter-password:hover
{
    backdrop-filter: blur(5px);
}

.login-submit-container {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 6rem;
    height: 3rem;
    font-size: 1.5rem;
    background-color: transparent;
    border: 2px solid #F5BC25;
    border-radius: 1rem;
    color: white;
    overflow: hidden; /* Hide overflow for pseudo-element */
    cursor: pointer; /* Add pointer cursor for interaction */
    transition: 0.2s all ease-in-out;
  }
  
.login-submit-container:hover
{
    background-color: #F5BC25;
    color: black;
}
@media screen and (min-width:5120px) 
{
    #MelodiumLogo {
        top: 10%;
        left: 50%;
        width: 15rem;
        height: 15rem;
      }
      #login-text {
        top: 23%;
        left: 50%;
        font-size: 7rem;
      }
      #login-username
    {
        top:35rem;
        left: 5rem;
        font-size: 5rem;
    }
    #login-enter-username
    {
        top:43rem;
        height: 8rem;
        width: 87%;
        padding-left: 1rem;
        font-size: 4rem;
        left: 5rem;
    }
    #login-password
    {
        top:55rem;
        left: 5rem;
        font-size: 5rem;
    }
    #login-enter-password
    {
        top:63rem;
        height: 8rem;
        width: 87%;
        padding-left: 1rem;
        font-size: 4rem;
        left: 5rem;
    }
    .login-submit-container {
        top: 85%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 20rem;
        height: 10rem;
        font-size: 5rem;
        border-radius: 1rem;
      }
}
