.ReviewContainer
{
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}
.review-title
{
    position: absolute;
    font-family: morn;
    font-size: 4rem;   
    top: 2rem;
    left: 19rem;
    color: white;
}
.review-line
{
    position: absolute;
    left: 19rem;
    top: 7rem;
    background-color: #F5BC25;
    height: 0.2rem;
    width: 70rem;
}
.review-input-fields
{
    position: absolute;
    width: 70rem;
    height: 10rem;
    left: 19rem;
    top: 10rem;
    /* background-color: aqua; */
}
#review-id-input-label
{
    position: absolute;
    color: white;
    font-family: Avalon;
    font-size: 2.5rem;
    margin-top: 1rem;
    top: 0;
    left: 0;
}
#review-id-input
{
    position: absolute;
    color: black;
    font-family: Avalon;
    padding: 0.3rem 0.3rem;
    font-size: 1.5rem;
    width: 20rem;
    top: 4.5rem;
} 
#review-name-input-label
{
    position: absolute;
    color: white;
    font-family: Avalon;
    font-size: 2.5rem;
    margin-top: 1rem;
    top: 0rem;
    left: 45rem;
}
#review-name-input
{
    position: absolute;
    color: black;
    font-family: Avalon;
    padding: 0.3rem 0.3rem;
    font-size: 1.5rem;
    width: 20rem;
    top: 4.5rem;
    left: 45rem;
} 
#review-rating-input-label
{
    position: absolute;
    color: white;
    font-family: Avalon;
    font-size: 2.5rem;
    top: 9rem;
    left: 0;
}
#review-rating-input
{
    position: absolute;
    color: black;
    font-family: Avalon;
    padding: 0.3rem 0.3rem;
    font-size: 1.5rem;
    width: 20rem;
    top: 12.5rem;
} 
#review-input-label
{
    position: absolute;
    top:17rem;
    color: white;
    font-family: Avalon;
    font-size: 2.5rem;
}
#review-input
{
    position: absolute;
    top:20.5rem;
    color: black;
    font-family: Avalon;
    font-size: 1.5rem;
    width: 40rem;
    height: 8rem;
}
#review-submit-button
{
    position: absolute;
    width: 8rem;
    height: 3rem;
    font-family: Morn;
    font-size: 2rem;
    top: 41rem;
    left: 50rem;
    color: white;
    background-color: #252525;
    border: none;
    cursor: pointer;
    transition: 0.3s all ease-in-out;
}
#review-submit-button:hover
{
    background-color: #F5BC25;
    color: black;
}
@media screen and (min-width:5120px) 
{
    .review-title
    {
        font-size: 17rem;   
        top: 3vh;
        left: 24%;
    }
    .review-line
    {
        left: 24%;
        top: 28rem;
        height: 1rem;
        width: 70vw
    }
    .review-input-fields
    {
        /* background-color: #F5BC25; */
        left: 24%;
        top: 32rem;
        height: 70%;
        width: 70vw;
    }
    #review-id-input-label
    {
        font-size: 10rem;
        margin-top: 0rem;
    }
    #review-id-input
    {
        padding: 0.3rem 0.3rem;
        font-size: 6rem;
        width: 25vw;
        top: 15rem;
    } 
    #review-name-input-label
    {
        font-size: 10rem;
        margin-top: 0rem;
        top: 0rem;
        left: 45%;
    }
    #review-name-input
    {
        padding: 0.3rem 1rem;
        font-size: 6rem;
        width: 13vw;
        top: 15rem;
        left: 45%;
    } 
    #review-rating-input-label
    {
        font-size: 10rem;
        top: 30rem;
        left: 0;
    }
    #review-rating-input
    {
        padding: 0.3rem 0.3rem;
        font-size: 6rem;
        width: 25vw;
        top: 45rem;
    } 
    #review-input-label
    {
        top:57rem;
        font-size: 10rem;
    }
    #review-input
    {
        top:72rem;
        font-size: 6rem;
        width: 80%;
        height: 30%;
    }
    #review-submit-button {
        width: 25rem;
        height: 10rem;
        font-size: 6rem;
        top: 90%;
        left: 50%;
        transform: translate(-50%, -50%);
      }      
}