<<<<<<< HEAD
body{
    overflow-x:hidden ;
    scrollbar-width: none;
    background-color: #21201E;  
}
::-webkit-scrollbar{
    display: none;
}
.App{
    width:100vw;
    position: relative;

=======
body
{
  background-color: #21201E;
  overflow: scroll;
>>>>>>> 689fd3100f27a4901a7c7edf3b6c51f199b7e000
}