@font-face {
  font-family: "mont";
  src: url("../../../public/Fonts/Montserrat.ttf");
}

@font-face {
  font-family: baloo;
  src: url(../../../public/Fonts/Balooda.ttf);
}

@font-face {
  font-family: morn;
  src: url(../../../public/Fonts/Morn.ttf);
}

@font-face {
  font-family: maven;
  src: url(../../../public/Fonts/MavenPro.ttf);
}

@font-face {
  font-family: Moulpali;
  src: url(../../../public/Fonts/Moulpali.ttf);
}

@font-face {
  font-family: ava;
  src: url(../../../public/Fonts/Avalon.ttf);
}

@font-face {
  font-family: gothic;
  src: url(../../../public/Fonts/LeagueGothic.ttf);
}

@font-face {
  font-family: bayon;
  src: url(../../../public/Fonts/Bayon.ttf);
}

.servicecardcontainer {
  width: 23rem;
  height: 29rem;
  object-fit: cover;
  border-radius: 1.2rem;
  box-shadow: 4.41px 4.41px 2.52px 0px rgba(0, 0, 0, 0.70);
  opacity: 0;
  transform: scale(0.5) translateY(100%);
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.servicecardcontainer.animate {
  animation: fadeInAndScale 1s ease-in-out forwards, slideInFromBottom 1.3s ease-in-out 1s forwards;
}

@keyframes fadeInAndScale {
  to {
      opacity: 1;
      transform: scale(1);
  }
}

@keyframes slideInFromBottom {
  to {
      transform: translateY(0);
  }
}

.service1 {
  width: 23.5rem;
  height: 29.5rem;
  object-fit: cover;
  position: relative;
  margin: 0;
  top: 0rem;
  left: 0rem;
  cursor: pointer;
}

.servicetitle {
  position: relative;
  color: #F5BC25;
  text-align: center;
  font-family: ava;
  font-size: 0.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 161.4%;
  top: -4rem;
  left: 0rem;
  z-index: 1;
  background-color: #222;
  width: 16.7rem;
  height: 2rem;
}

.servicetitle h1 {
  width: 16.3rem;
  position: absolute;
  top: 0.3rem;
  text-align: right;
}

.knowmore {
  position: relative;
  border-radius: 1.2rem;
  background: #F5BC25;
  width: 5rem;
  height: 2rem;
  top: -6rem;
  left: 17.7rem;
  z-index: 2;
}

.knowmore h1 {
  position: absolute;
  color: #000;
  width: 5rem;
  height: 2rem;
  top: 0.2rem;
  text-align: center;
  font-family: bayon;
  font-size: 0.98438rem;
  font-style: normal;
  font-weight: 400;
  line-height: 161.4%;
}
